[submodule "src/foundations/strawberry-di"]
	path = src/foundations/strawberry-di
	url = https://github.com/strberry/di.git
[submodule "src/foundations/strawberry-io"]
	path = src/foundations/strawberry-io
	url = https://github.com/strberry/io.git
